@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #000;
    border-bottom: 3px solid #8A2BE2;
}

.logo {
    margin-left: 30px;
}

.logo > a {
    text-decoration: none;
    color: #DA70D6;
}

.logo > a:hover {
    color: #fff;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-right: 30px
}

ul > li  {
    list-style: none;
}

ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: large;
}

ul > li > a:hover {
    color: #DA70D6
}

.home-page {
    display: flex;
    background: #696969;
    position: relative;
}

.main-section__image {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.my-image {
    position: relative;
    bottom: 0;
}

.title {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
    font-size: large;
}

.main-section__button {
    border: none;
    margin: 20px;
    padding: 24px;
    width: 200px;
    border-radius: 6px;
    cursor: pointer;
    background-image: linear-gradient(to left, #9F2B68, #BF40BF, #DA70D6);
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
}

.main-section__button:hover {
    background-position: right;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: #000;
    font-size: x-small;
    color: #fff;
}

footer:hover {
    color: #DA70D6;
}